[submodule "third_party/libusb"]
	path = third_party/libusb
	url = git@github.com:libusb/libusb.git
[submodule "third_party/libuvc"]
	path = third_party/libuvc
	url = git@github.com:libuvc/libuvc.git
[submodule "third_party/libjpeg-turbo"]
	path = third_party/libjpeg-turbo
	url = git@github.com:libjpeg-turbo/libjpeg-turbo.git
